<!doctype html>

<html lang="en">
<head>
    <title>Bar Graphs</title>
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"></script>
</head>
<style>
body {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.bar {
  fill: steelblue;
}

.x.axis path {
  display: none;
}

</style>
<body align = "center">
    <h3>Bar Graphs</h3>
    <script type ="text/javascript" src="/static/bargraph.js"></script>
</body>
</html>
