<!DOCTYPE html>
<meta charset="utf-8">
<head>
    <title>K means</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js" charset="utf-8"></script>
</head>
<style>

body {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.dot {
  stroke: #000;
}

.tooltip {
  position: absolute;
  width: 200px;
  height: 28px;
  pointer-events: none;
}
</style>
<body align = "center">
    <h3>K-means Clustering Plot</h3>
    <div align = "center">
        <table style="border: 1px solid black">
        <tbody>
          <tr>
            <th style="background-color: #CCFFCC; margin: 5px">Centroid</th>
          </tr>
          {% for c in centroids %}
             <tr>
               <td>{{ c }}</td>
             </tr>
          {% endfor %}
        </tbody>
        </table>
    <div>
    <script type ="text/javascript" src="/static/kmeans.js"></script>
</body>
<br>
