<!DOCTYPE html>
<meta charset="utf-8">
<head>
    <title>Scatter Plots</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js" charset="utf-8"></script>
</head>
<style>

body {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.dot {
  stroke: #000;
}

.tooltip {
  position: absolute;
  width: 200px;
  height: 28px;
  pointer-events: none;
}
</style>
<body align = "center">
    <h3>Scatter Plot for Flower Dataset </h3>
    <script type ="text/javascript" src="/static/scatter.js"></script>
</body>
<br>
